@page "{id}"
@using Microsoft.EntityFrameworkCore
@model PostModel
@inject ApplicationDbContext AppDBContext

@section Styles {
    <link href="@Url.Content("~/css/site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/post.css")" rel="stylesheet" type="text/css" />
}

<div class="post-page-post">
    <div class="col-10 post-content">
        <div class="post-title">
            <h1>@Model.Post.Title</h1>
        </div>
        <div class="post-body">
            <p>@Model.Post.Body</p>
        </div>
    </div>
    <div class="col-2" style="text-align:center">
        <img style="border-radius:50%; width: 75px; height: 75px" src="@Model.PostCreatorProfilePicBlob?.Path"/>
        <a href="@Url.Page("profile", new { id = Model.Post.UserId })">@Model.PostCreator.UserName</a>
    </div>
</div>

@if (Model.IsLoggedIn)
{  
    <div class="post-comment-field">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating"> 
                <input asp-for="Input.Comment" class="form-control" aria-required="true" />
            </div>
            <button hidden="hidden" type="submit"/>
        </form>
    </div>
}

<div class="post-comment-area">
    @foreach(var comment in Model.Comments)
    {
        <div class="comment">
            <div class="row">
                <div class="col-8">
                    <a class="comment-author" href="@Url.Page("profile", new { id = comment.UserId })">@AppDBContext.Users.FirstOrDefault(u => u.Id == comment.UserId).UserName</a>
                </div>
                <div class="col-4" >
                    <p style="text-align:right">@comment.Timestamp.ToLongDateString()</p>
                </div>
            </div>
            <div>
                <p class="comment-content">@comment.Content</p>
            </div>
        </div>
    }
</div>