@page "{id}"
@using Microsoft.EntityFrameworkCore
@model PostModel
@inject ApplicationDbContext AppDBContext

@section Styles {
    <link href="@Url.Content("~/css/site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/post.css")" rel="stylesheet" type="text/css" />
}

<div class="post-page-post">
    <div class="col-10">
        <div class="row">
            <h1>@Model.Post.Title</h1>
        </div>
        <div class="row">
            <p>@Model.Post.Body</p>
        </div>
    </div>
    <div class="col-2">
        <img style="border-radius:50%; width: 100%" src="@Model.PostCreatorProfilePicBlob?.Path"/>
        <p style="width:100%; text-align:center">@Model.PostCreator.UserName</p>
    </div>
</div>


<div class="post-comment-area">
    @foreach(var comment in Model.Comments)
    {
        <div class="comment">
            <p class="comment-content">@comment.Content</p>
            <p class="comment-author">@AppDBContext.Users.FirstOrDefault(u => u.Id == comment.UserId)</p>
        </div>
    }
</div>

<div class="post-comment-field">
    <form method="post">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-floating"> 
            <input asp-for="Input.Comment" class="form-control" aria-required="true" />
        </div>
        <button hidden="hidden" type="submit"/>
    </form>
</div>